
import(GenomicRanges)

importFrom(IRanges, elementLengths)
importFrom(exomeCopy, subdivideGRanges)
importFrom(stringr, str_match)
importFrom(IRanges, IRanges)

export(scaListDatasets, scaLoadDatasets, scaMetadata, mutationDensity)
